@media screen and (min-width: 76.25em) {
  .md-grid {
    max-width: 100%;
  }

  .md-main__inner {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  .md-content__inner {
    margin-right: 0;
  }

  /* Remove empty right TOC rail so content can fully expand */
  .md-sidebar--secondary,
  .md-sidebar--secondary:not([hidden]) {
    display: none;
  }

  .md-sidebar--secondary:not([hidden]) ~ .md-content > .md-content__inner {
    margin-right: 0;
  }
}

/* Let markdown tables use the full content width */
.md-typeset__table {
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
  width: 100%;
}
